<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Tu peux maintenant personnaliser la couleur de ta Peluches fait à la main.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="https://jeroso94.github.io/orinoco/views/customize.html">
    
    <title>Orinoco - Produit</title>
    <!-- Open Graph data -->

    <meta property="og:title" content="Orinoco - Produit"/>
    <meta property="og:type" content="e-commerce"/>
    <meta property="og:url" content="https://jeroso94.github.io/orinoco/"/>
    <meta property="og:image" content="https://jeroso94.github.io/orinoco/favicon.png"/>
    <meta property="og:description" content="Orinico est la plateforme de e-commerce des boutiques à thèmes (Livres, Textiles, Peluches fait à la main, Caméras vintage, Meubles en chêne)."/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Orinoco - Produit">
    <meta name="twitter:description" content="Orinico est la plateforme de e-commerce des boutiques à thèmes (Livres, Textiles, Peluches fait à la main, Caméras vintage, Meubles en chêne).">
    <meta name="twitter:creator" content="@author_handle">
    <!-- Twitter Summary card images must be at least 200x200px -->
    <meta name="twitter:image" content="https://jeroso94.github.io/orinoco/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Complément CSS -->
    <link rel="stylesheet" href="../content/style.css" />

    <!-- CDN icônes fontawesome -->
    <script src="https://kit.fontawesome.com/a7946aabc7.js" crossorigin="anonymous"></script>

    <!-- Favicons navigateurs populaires ordinateurs/iOS/Android/IE10+ -->
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <link rel="icon" href="../favicon.png" type="image/png">
    <link rel="icon" sizes="32x32" href="../favicon-32.png" type="image/png">
    <link rel="icon" sizes="64x64" href="../favicon-64.png" type="image/png">
    <link rel="icon" sizes="96x96" href="../favicon-96.png" type="image/png">
    <link rel="icon" sizes="196x196" href="../favicon-196.png" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="../apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../apple-touch-icon-144x144.png">
    <meta name="msapplication-TileImage" content="../favicon-144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <!-- Babel -->
    <script type="text/javascript" src="../dist/polyfill.bundle.js" defer></script>
    <!-- Webpack -->
    <script type="text/javascript" src="../dist/app.bundle.js" defer></script>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
      <a class="navbar-brand d-lg-none" href="../index.html"><i class="fas fa-shopping-cart"></i><span class="navbar-brand-font"> Orinoco</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigations-02"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse justify-content-md-center" id="navigations-02">
        <div class="row w-100">
          <div class="col-4 pl-lg-0">
            <ul class="navbar-nav">
      <!--        <li><button id="toOrder">Panier</button></li> -->
              <li class="nav-item"><a class="nav-link" href="../index.html">Liste des produits</a></li>
            </ul>
          </div>
          <div class="col-4 navbar-nav text-center pr-0 d-none d-lg-block"><a class="navbar-brand mr-0" href="../index.html"><i class="fas fa-shopping-cart"></i><span class="navbar-brand-font"> Orinoco</span></a></div>
          <div class="col-4 pr-lg-0">
            <ul class="navbar-nav justify-content-end">
              <li class="nav-item"><a class="nav-link" href="./order.html"><i class="fas fa-shopping-basket"></i> Panier</a></li>
              <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>            
    </nav>

    <header class="py-5">
      <div class="container text-center">
        <h1 class="display-4 my-3">Venez retrouver l'ourson en peluche de votre enfance</h1>
        <!--<a class="btn btn-link my-2" href="#">Read more »</a>
        -->
      </div>
    </header>

    <main>

      <section class="py-5">
        <div class="container">
          <div class="row flex-column flex-lg-row">
            <div id="teddyPicture" class="col-lg-6 mb-5 mb-lg-0"></div>
            <div class="col-lg-6">
              <ul class="list-inline d-flex">
                <li class="mr-1"><a href="#"><img src="../img/etoile4.png" width="32" alt=""><span class="sr-only">One star</span></a></li>
                <li class="mr-1"><a href="#"><img src="../img/etoile4.png" width="32" alt=""><span class="sr-only">Two star</span></a></li>
                <li class="mr-1"><a href="#"><img src="../img/etoile4.png" width="32" alt=""><span class="sr-only">Three star</span></a></li>
                <li class="mr-1"><a href="#"><img src="../img/etoile4.png" width="32" alt=""><span class="sr-only">Four star</span></a></li>
                <li class="mr-1"><a href="#"><img src="../img/etoile4.png" width="32" alt=""><span class="sr-only">Five star</span></a></li>
              </ul>
              <h2 id="teddyTitle" class="mt-3 mb-4"></h2>
              <p id="teddyStory" class="mt-3 mb-4"></p>
              <h5 id="teddyPrice" class="mt-3 mb-4"></h5>
            
              <div class="row flex-column flex-lg-row d-flex align-items-center my-4">
                <ul class="col-lg-5 list-inline d-flex">
                  <li class="mr-5">
                      <h7><label for="teddyColor">Coloris:</label></h7>
                      <select id="teddyColor" class="selector" ></select>
                      <p id="logTeddyColor"></p>
                  </li>
                  <li class="mr-5">
                      <h7><label for="teddyQty">Quantité:</label></h7>
                      <select id="teddyQty" class="selector" ></select>
                      <p id="logTeddyQty"></p>
                  </li>
                </ul>
                <ul class="col-lg-9 list-inline d-flex">
                  <li class="mr-2">
                    <button id="toAddInBasket" class="btn btn-primary">Ajouter au panier</button>
                  </li>
                  <li class="mr-2">
                    <button id="toOrder" class="btn btn-primary">Passer la commande</button>
                  </li>
                </ul>
              </div>  
            <hr class="my-4">
            <div class="d-flex align-items-center justify-content-between flex-column flex-sm-row">
              <a class="align-items-center" href="#">Marquer comme Favoris</a>
              <ul class="list-inline d-flex mb-0 mt-2 mt-sm-0">
                <li class="px-2">Partagez</li>
                <li class="px-2"><a href="#"><span class="sr-only">Facebook</span><i class="fab fa-twitter"></i></a></li>
                <li class="px-2"><a href="#"><span class="sr-only">Twitter</span><i class="fab fa-facebook"></i></a></li>
                <li class="px-2"><a href="#"><span class="sr-only">Instagram</span><i class="fab fa-instagram"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>    
  </body>
</html>