<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Tu peux maintenant personnaliser la couleur de ta Peluches fait à la main.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../content/style.css" />
    <link rel="canonical" href="https://jeroso94.github.io/orinoco/views/customize.html">
    
    <title>Orinoco - Produit</title>
<!--
    <script type="text/javascript" src="../src/index.js" defer></script>
    <script type="text/javascript" src="../src/customize.js" defer></script>
-->
    <script type="text/javascript" src="/polyfill.bundle.js" defer></script>
    <script type="text/javascript" src="/app.bundle.js" defer></script>

  </head>

  <body>

    <header>
      <h1>Orinoco</h1>
      <p>Venez trouver l'ourson en peluche de votre enfance</p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Liste des produits</a></li>
<!--        <li><button id="toListOfProducts">Liste des produits</button></li>
-->
      </ul>
    </nav>

    <main>
      <article id="customizeResult"></article>

      <!-- the aside content can also be nested within the main content -->
      <aside>
        <form id="form_1" novalidate>
          <h2><label for="teddyColor">Coloris:</label></h2>
          <select id="teddyColor" class="selector" ></select>
          <p id="logTeddyColor"></p>

          <h2><label for="teddyQty">Quantité:</label></h2>
          <select id="teddyQty" class="selector" ></select>
          <p id="logTeddyQty"></p>

          <button id="toAddInBasket">Ajouter au panier</button>
          <button id="toOrder">Passer la commande</button>
        </form>

        <ul>
          <li><a href="#">Oh I do like to be beside the seaside</a></li>
          <li><a href="#">Oh well...</a></li>
        </ul>
        
      </aside>
    </main>

    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>    
  </body>
</html>