<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Tu peux remplir ce bon de commande pour te faire livrer les articles enregistrés dans le panier">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="canonical" href="https://jeroso94.github.io/orinoco/views/order.html">
    
    <title>Orinoco - Panier</title>
    <!-- Open Graph data -->

    <meta property="og:title" content="Orinoco - Panier"/>
    <meta property="og:type" content="e-commerce"/>
    <meta property="og:url" content="http://localhost:8080/"/>
    <meta property="og:image" content="http://localhost:8080/favicon.png"/>
    <meta property="og:description" content="Orinico est la plateforme de e-commerce des boutiques à thèmes (Livres, Textiles, Peluches fait à la main, Caméras vintage, Meubles en chêne)."/>

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@publisher_handle">
    <meta name="twitter:title" content="Orinoco - Panier">
    <meta name="twitter:description" content="Orinico est la plateforme de e-commerce des boutiques à thèmes (Livres, Textiles, Peluches fait à la main, Caméras vintage, Meubles en chêne).">
    <meta name="twitter:creator" content="@author_handle">
    <!-- Twitter Summary card images must be at least 200x200px -->
    <meta name="twitter:image" content="http://localhost:8080/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Complément CSS -->
    <link rel="stylesheet" href="../content/style.css" />

    <!-- CDN icônes fontawesome -->
    <script src="https://kit.fontawesome.com/a7946aabc7.js" crossorigin="anonymous"></script>

    <!-- Favicons navigateurs populaires ordinateurs/iOS/Android/IE10+ -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/png">
    <link rel="icon" sizes="32x32" href="favicon-32.png" type="image/png">
    <link rel="icon" sizes="64x64" href="favicon-64.png" type="image/png">
    <link rel="icon" sizes="96x96" href="favicon-96.png" type="image/png">
    <link rel="icon" sizes="196x196" href="favicon-196.png" type="image/png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <!-- Babel -->
    <script type="text/javascript" src="/polyfill.bundle.js" defer></script>
    <!-- Webpack -->
    <script type="text/javascript" src="/app.bundle.js" defer></script>
  </head>

  <body>
    <header class="container-fluid jumbotron">
      <h1><i class="fas fa-shopping-cart"></i> Orinoco</h1>
      <p>Venez retrouver l'ourson en peluche de votre enfance</p>
    </header>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="http://localhost:8080/index.html"><i class="fas fa-shopping-cart"></i> Orinoco</a>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="../index.html">Liste des produits</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
      </ul>
    </nav>

    <main class="container-fluid">
      <article>
        <h2 class="jumbotron">Récapitulatif de commande (étape 1/3)</h2>
        
        <table id="orderResult" width='100%' border=true>
          <tr>
            <th width='10%'>Action</th>
            <th width='20%'>Référence</th>
            <th width='10%'>Photo</th>
            <th width='10%'>Nom</th>
            <th width='10%'>Coloris</th>
            <th width='10%'>Quantité</th>
            <th width='10%'>Prix unitaire</th>
            <th width='10%'>Sous-total</th>
          </tr>
        </table>
      </article>

      <aside id="totalAmountArea"></aside>

      <article>
        <h2 class="jumbotron">Coordonnées pour la livraison (étape 2/3)</h2>
        
        <form action="/" method="get">
          <table width=100% border=true>
            <tr><td>
                <label for="email">Adresse électronique:</label>
                <input type="email" placeholder="pseudo@domaine.com" id="email" name="email"/>
              <p id="logEmail"></p>
            </td><td></td></tr>
            <tr><td>
                <label for="firstName">Prénom:</label>
                <input type="text" placeholder="Prénom" id="firstName" name="firstName" class="fullName"/>
              <p id="logFirstName"></p>
            </td><td>
                <label for="lastName">Nom de famille:</label>
                <input type="text" placeholder="Nom de famille" id="lastName" name="lastName" class="fullName"/>
              <p id="logLastName"></p>
            </td></tr>
            <tr><td>
                <label for="address">Numéro et nom de voie:</label>
                <input type="text" placeholder="14 rue Vivaldi" id="address" name="address" />
              <p id="logAddress"></p>
            </td><td>
                <label for="city">Ville:</label>
                <input type="text" placeholder="Lille" id="city" />
              <p id="logCity"></p>
            </td></tr>
          </table>

          <p><button type="submit" disabled id="toValidateOrder">Commander</button></p>
        </form>
      </article>
    </main>

    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>
  </body>
</html>