<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Tu peux remplir ce bon de commande pour te faire livrer les articles enregistrés dans le panier">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../content/style.css" />
    <link rel="canonical" href="https://jeroso94.github.io/orinoco/views/order.html">
    
    <title>Orinoco - Panier</title>
<!--    
    <script type="text/javascript" src="../src/index.js" defer></script>
    <script type="text/javascript" src="../src/order.js" defer></script>
    <script type="text/javascript" src="../src/secure.js" defer></script>
  -->
    <script type="text/javascript" src="/polyfill.bundle.js" defer></script>
    <script type="text/javascript" src="/app.bundle.js" defer></script>
  </head>

  <body>
    <header>
      <h1>Orinoco</h1>
      <p>Venez trouver l'ourson en peluche de votre enfance</p>
    </header>

    <nav>
      <ul>
        <li><a href="../index.html">Liste des produits</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    <main>
      <article>
        <h2>Récapitulatif de commande (étape 1/3)</h2>
        
        <table id="orderResult" width='100%' border=true>
          <tr>
            <th width='10%'>Action</th>
            <th width='20%'>Référence</th>
            <th width='10%'>Photo</th>
            <th width='10%'>Nom</th>
            <th width='10%'>Coloris</th>
            <th width='10%'>Quantité</th>
            <th width='10%'>Prix unitaire</th>
            <th width='10%'>Sous-total</th>
          </tr>
        </table>
      </article>

      <aside id="totalAmountArea"></aside>

      <article>
        <h2>Coordonnées pour la livraison (étape 2/3)</h2>
        
        <form action="/" method="get">
          <table width=100% border=true>
            <tr><td>
                <label for="email">Adresse électronique:</label>
                <input type="email" placeholder="pseudo@domaine.com" id="email" name="email"/>
              <p id="logEmail"></p>
            </td><td></td></tr>
            <tr><td>
                <label for="firstName">Prénom:</label>
                <input type="text" placeholder="Prénom" id="firstName" name="firstName" class="fullName"/>
              <p id="logFirstName"></p>
            </td><td>
                <label for="lastName">Nom de famille:</label>
                <input type="text" placeholder="Nom de famille" id="lastName" name="lastName" class="fullName"/>
              <p id="logLastName"></p>
            </td></tr>
            <tr><td>
                <label for="address">Numéro et nom de voie:</label>
                <input type="text" placeholder="14 rue Vivaldi" id="address" name="address" />
              <p id="logAddress"></p>
            </td><td>
                <label for="city">Ville:</label>
                <input type="text" placeholder="Lille" id="city" />
              <p id="logCity"></p>
            </td></tr>
          </table>

          <p><button type="submit" disabled id="toValidateOrder">Commander</button></p>
        </form>
      </article>
    </main>

    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>
  </body>
</html>