<!DOCTYPE html>
<html lang=fr>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Félicitation, la commande est enregistrée !">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../content/style.css" />
    <link rel="canonical" href="https://jeroso94.github.io/orinoco/views/thanks.html">
    
    <title>Orinoco - Commande enregistrée. Merci !</title>
<!--
    <script type="text/javascript" src="../src/index.js" defer></script>
    <script type="text/javascript" src="../src/customize.js" defer></script>
-->
    <script type="text/javascript" src="/polyfill.bundle.js" defer></script>
    <script type="text/javascript" src="/app.bundle.js" defer></script>

  </head>

  <body>

    <header>
      <h1>Orinoco</h1>
      <p>Venez trouver l'ourson en peluche de votre enfance</p>
    </header>

    <nav>
      <ul>
        <li><button id="toListOfProducts">Liste des produits</button></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    
    <main>
      <h2>Commande validée. Merci ! (étape 3/3)</h2>
      <article id="thanksResult"></article>

      <aside>
        <h2>Parrainage</h2>

        <ul>
          <li><a href="#">5€ de réduction lors de votre prochaine commande.</a></li>
          <li><p>50€ de réduction si vous parrainez 10 proches.</p></li>
        </ul>
      </aside>
    </main>

    <footer>
      <p>©Copyright 2050 by nobody. All rights reversed.</p>
    </footer>
  </body>
</html>